.statusBlock {
  width: 392px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.statusHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 12px;
}

.statusHeaderTitle {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.statusHeaderQuantity {
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: white;
  border-radius: 50%;
}

.tasksBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  border-radius: 12px;
}

.todoHeader,
.todoBlock {
  background-color: #feebf3;
  border: 2px solid #fac1d9;
}
.inProgressHeader,
.inProgressBlock {
  background-color: #feefeb;
  border: 2px solid #fbcec1;
}
.doneHeader,
.doneBlock {
  background-color: #e6fcf8;
  border: 2px solid #b3f5e9;
}

.todoHeaderQuantity {
  background-color: #ee2f80;
}
.inProgressHeaderQuantity {
  background-color: #f15a2e;
}
.doneHeaderQuantity {
  background-color: #00dcb4;
}
